.good {
  width: 100%;
  margin-bottom: 50px;
  position: relative;
}

.blockPriceRatings {
  display: flex;
  justify-content: space-between;
}

.title {
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  margin-bottom: 8px;
}

.ratings {
  width: 67px;
  height: 10px;
}

