.siteBarAndMenu {
  display: flex;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.sideBar {
  flex-shrink: 0;
}

.menuAndBanner {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 0;
  overflow: hidden;
}